<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Member</title>
    <link rel="stylesheet" href="LoginMember/assest/LoginMemberStyles.css">
</head>
<body>

    <div class="login-container">
        <h2>Login Member</h2>
        <form action="/login" method="post">
            <input type="text" class="input-field" placeholder="Username" name="username" required>
            <input type="password" class="input-field" placeholder="Password" name="password" required>
            <button type="submit" class="btn">Login</button>
        </form>
        <p class="signup-link">
            Belum punya akun? <a href="RegistrasiMember.html">Sign up</a>
        </p>
    </div>

</body>
</html>

