<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrasi Member</title>
    <link rel="stylesheet" href="/pbw/assestt/LoginMemberStyles.css">
</head>
<body>

    <div class="register-container">
        <h2>Registrasi Member</h2>
        <form action="/register" method="post">
            <input type="text" class="input-field" placeholder="Username" name="username" required>
            <input type="email" class="input-field" placeholder="Email" name="email" required>
            <input type="password" class="input-field" placeholder="Password" name="password" required>
            <button type="submit" class="btn">Sign In</button>
        </form>
    </div>

</body>
</html>
